html { height: 100%; padding-top: 55px; }
body { height: 100%; }

.hidden { display: none !important; }

.navbar { height: 55px; border-color: #111; }

h1 { margin: 4px 0 0; }
h1 a:hover, h1 a:focus { text-decoration: none; }

.plasma-color {
    background-image:-webkit-gradient( linear, left top, right top,
    color-stop(0, #8fc1d3), color-stop(1, #8fd3a0) );
    color:transparent; -webkit-background-clip: text; text-shadow: none;
}

#loginForm { margin-right: -30px; }
#loginForm input { width: 150px; margin-right: 8px; }
p.navbar-right { margin: 0 -15px 0 0; line-height: 53px; }

#mainContainer {
    width: 1204px;
    padding: 4px 0 0;
}

.canvas-container {
    width: 602px;
    float: left;
}

canvas { position: relative; }
#mainPingCanvas, #mainHighlightCanvas, #zoomHighlightCanvas { position: absolute; top: -5000px; }

#uiContainer {  }

#inventory ul button {
    position: relative; top: -1px;
    margin-right: 6px;
}

.item-color {
    border: 1px solid black;
    width: 16px; height: 16px;
    display: inline-block;
    position: relative;
    top: 3px;
    margin-right: 4px;
}

p { color: #999; }
h2 { color: #c8c8c8; font-size: 18px; margin-bottom: 6px; }

/* --- Unresponsive Bootstrap --- */

.container {
    position: relative;
    max-width: none !important;
    width: 1230px;
}

/* Undo the collapsing navbar */
.navbar-collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
}

.navbar-toggle {
    display: none;
}

.navbar-brand {
    margin-left: -15px;
}

/* Always apply the floated nav */
.navbar-nav {
    float: left;
    margin: 0;
}
.navbar-nav > li {
    float: left;
}
.navbar-nav > li > a {
    padding: 15px;
}

/* Redeclare since we override the float above */
.navbar-nav.navbar-right {
    float: right;
}

/* Undo custom dropdowns */
.navbar .open .dropdown-menu {
    position: absolute;
    float: left;
    background-color: #fff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-width: 0 1px 1px;
    border-radius: 0 0 4px 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.navbar .open .dropdown-menu > li > a {
    color: #333;
}
.navbar .open .dropdown-menu > li > a:hover,
.navbar .open .dropdown-menu > li > a:focus,
.navbar .open .dropdown-menu > .active > a,
.navbar .open .dropdown-menu > .active > a:hover,
.navbar .open .dropdown-menu > .active > a:focus {
    color: #fff !important;
    background-color: #428bca !important;
}
.navbar .open .dropdown-menu > .disabled > a,
.navbar .open .dropdown-menu > .disabled > a:hover,
.navbar .open .dropdown-menu > .disabled > a:focus {
    color: #999 !important;
    background-color: transparent !important;
}
