<div class="navbar navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <h1><a href="#"><span class="plasma-color">Plasma</span></a></h1>
        </div>
        <div class="navbar-collapse collapse">
            <p class="navbar-right" ng-show="user">Welcome back, <strong class="text-info">{{ user.email }}</strong> &mdash; <a href="#" ng-click="logOut()">Log out</a></p>
            <form ng-show="!user && authStatus" class="navbar-form navbar-right" data-login-form="{{ authStatus }}" id="loginForm" ng-disabled="authStatus=='logging'" ng-submit="authenticate()">
                <div class="form-group">
                    <input ng-model="loginEmail" ng-disabled="authStatus=='logging'" id="inputLoginUser" type="email" placeholder="email" class="form-control">
                </div>
                <div class="form-group">
                    <input ng-model="loginPassword" ng-disabled="authStatus=='logging'" id="inputLoginPass" type="password" placeholder="password" class="form-control">
                </div>
                <button ng-disabled="authStatus=='logging'" id="loginSubmit" type="submit" class="btn btn-success">Log In / Register</button>
            </form>
        </div><!--/.navbar-collapse -->
    </div>
</div>
<div id="mainContainer" class="container">
    <div class="canvas-container"> <!-- Left side canvases -->
        <canvas id="mainCanvas" width="600" height="600"> <!-- Main canvas -->
            Your browser doesn't support canvases. <a href="http://www.google.com/chrome">Get a better one.</a>
        </canvas>
        <canvas id="mainPingCanvas" width="600" height="600"></canvas> <!-- Ping canvas -->
        <canvas id="mainHighlightCanvas" width="600" height="600"></canvas> <!-- Main highlight canvas -->
    </div>
    <div class="canvas-container text-right"> <!-- Right side canvases -->
        <canvas id="zoomCanvas" width="600" height="600"></canvas> <!-- Main canvas -->
        <canvas id="zoomHighlightCanvas" width="600" height="600"></canvas> <!-- Zoom highlight canvas -->
    </div>
    <div class="span1 pull-left coords">
        {{ zoomPosition[0] }} , {{ zoomPosition[1] }}
    </div>
    <div class="span1 text-right pull-right coords">
        {{ overPixel[0] }} , {{ overPixel[1] }}
    </div>
</div>
<div id="uiContainer" ng-show="userInit" class="container">
    <div class="row">
        <div id="info" class="col-xs-4">
            <h2>Welcome to <span class="plasma-color">Plasma</span>!</h2>
            <p ng-repeat="paragraph in helpText | nlToArray">{{ paragraph }}</p>
            <button ng-show="newUser" class="btn btn-success" ng-click="addBrain()">Add Brain Cell</button>
            <button ng-show="user.id == 1" class="btn btn-danger" ng-click="resetUser()">Reset</button>
        </div>
        <div id="inventory" class="col-xs-3">
            <h2>Inventory</h2>
            <ul class="list-unstyled">
                <li class="text-muted" ng-hide="inventory">No items</li>
                <li ng-repeat="item in inventory">
                    <button type="button" ng-disabled="item.adding" ng-click="addCell(item)" 
                            class="btn btn-xs btn-default"><span class="glyphicon glyphicon-plus"></span></button>
                    <span ng-init="style={background: '#'+item.color.hex}" ng-style="style" class="item-color"></span>
                    {{ item.type | itemDisplay }}
                </li>
            </ul>
        </div>
        <div id="cellInfoSpacer" ng-hide="selectedCell" class="col-xs-3"></div>
        <div id="cellInfo" ng-show="selectedCell" class="col-xs-3">
            <h2>Cell Info</h2>
            <p><span ng-style="{background: '#'+selectedCell.color.hex}" class="item-color"></span>
                {{ selectedCell.type | itemDisplay }}&emsp;
                <span class="text-muted">({{ selectedCell.grid | grid }})</span>
            </p>
            <div ng-show="selectedCell.contents.length > 0" class="well">
                <h3>Contents</h3>
                <ul class="list-unstyled">
                    <li ng-repeat="item in selectedCell.contents">
                        <button type="button" ng-click="harvestItem($index,item)" class="btn btn-xs btn-default">
                            <span class="glyphicon glyphicon-arrow-left"></span></button>
                        {{ item | itemDisplay }}
                    </li>
                </ul>
            </div>
        </div>
        <div id="lifeform" class="col-xs-2">
            <h2>Lifeform</h2>
            <table class="table">
                <tr><td>Cells</td><td><strong>{{ userCells }}</strong></td></tr>
                <tr><td>Heartbeats</td><td><strong>{{ heartbeats }}</strong></td></tr>
            </table>
        </div>
    </div>
</div>